<section class="hero is-fullheight has-text-centered" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen ">
                    <div class="is-size-5">
                        {{ page.author-about | markdownify }}
                    </div>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/#contact"
                                class="button is-primary is-rounded is-uppercase has-text-weight-normal is-outlined">Contact
                                Me</a>
                            </a>
                        </div>
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/projects"
                                class="button is-primary is-rounded is-uppercase has-text-weight-normal is-outlined">My Research Projects</a>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>