<section class="hero is-fullheight has-text-centered" id="research">
    <!-- two images side by side, each being a card with a title, description, and a button -->
    <div class="hero-body">
        <div class="container">
            <div class="content">
                <h1 class="is-uppercase has-text-weight-bold">
                    Highlighted Research
                </h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan, metus ultrices eleifend gravida, nulla nunc varius lectus, nec rutrum justo nibh eu lectus. Ut vulputate semper dui. Fusce erat odio, sollicitudin vel erat vel, interdum mattis neque.
                </p>
            </div>
            <div class="columns is-centered is-multiline">
                {% for card in site.research %}
                    {% if card.highlight %}
                    <div class="column is-two-thirds-tablet is-half-desktop">
                        <div class="card">
                            <a href="{{ card.url | absolute_url}}">
                                <div class="card-image">
                                    <figure class="image">
                                        <img src="{{ card.image }}" alt="{{ card.title }}">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="media">
                                        <div class="media-content">
                                            <p class="title is-4">{{ card.title }}</p>
                                            <p class="subtitle is-6">{{ card.description }}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="{{site.url}}{{site.baseurl}}/projects" class="button is-primary is-uppercase is-outlined">
                See All of my Projects
            </a>
        </div>
    </div>

</section>