---
layout: compress
---

<!DOCTYPE html>
<html class="theme-dark">
{% include head.html %}

<body>
  {% include navbar.html %}
  {% include showcase.html %}
  {% include about.html %}
  {% include research.html %}
  {% include contact.html %}
  <!--Footer begins here-->
  {% include footer.html %}
</body>
<script>
  var navItems = document.getElementsByClassName('navbar-item');
  var viewportOffset = 0.8;
  var heroes = document.getElementsByClassName('hero');
  var curSection = 0;

  window.addEventListener("scroll", function (event) {
    var scroll = this.scrollY;
    var newSection = curSection;

    if (scroll < heroes[0].offsetHeight * viewportOffset) {
      newSection = 0;
    }
    else for (var i = 1; i < heroes.length; i++) {
      var height = heroes[i].offsetHeight;
      if (i === heroes.length - 1) {
        height += document.getElementById('footer').offsetHeight;
      }
      var top = heroes[i].offsetTop;
      if (scroll + document.documentElement.clientHeight > top + height * viewportOffset) {
        newSection = i;
      }
      else break;
    }

    if (newSection !== curSection) {
      navItems[curSection + 1].classList.remove('is-active');
      navItems[newSection + 1].classList.add('is-active');
      curSection = newSection;
    }
  });
</script>

</html>